.nav {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: rgba(6, 8, 12, 0.85);
  backdrop-filter: blur(10px);

  transition:
    border-color 0.25s ease,
    background 0.25s ease;
}

/* default = no border */
.nav {
  border-bottom: 1px solid transparent;
}

/* when scrolling */
.nav--scrolled {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

/* container */
.nav__container {
  width: min(1200px, calc(100% - 48px));
  margin: 0 auto;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo-box {
  width: 28px;
  height: 28px;
  background: #ff7a1a;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.nav__logo-pic {
  height: 50px;
  width: auto;
}

.nav__logo-text {
  font-weight: 700;
  font-size: 1rem;
}

/* links */
.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.nav__links a {
  text-decoration: none;
  color: #8f98a8;
  position: relative;
  display: block;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.nav__links a:hover::before {
  width: 100%;
}

a:hover {
  color: #ffffff;
}

/* From Uiverse.io by adamgiebl */
.nav__button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: #ff7a1a;
  z-index: 1;
  font-family: inherit;
  font-weight: 800;
  text-decoration: none;
}

.nav__button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid ff7a1a;
}

.nav__button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

.nav__button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: #ff7a1a;
}

.nav__button:hover {
  color: white;
}

.nav__button:active span::before {
  background: #2751cd;
}
