.nav {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: rgba(6, 8, 12, 0.85);
  backdrop-filter: blur(10px);

  transition:
    border-color 0.25s ease,
    background 0.25s ease;
}

/* default = no border */
.nav {
  border-bottom: 1px solid transparent;
}

/* when scrolling */
.nav--scrolled {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

/* container */
.nav__container {
  width: min(1200px, calc(100% - 48px));
  margin: 0 auto;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo-box {
  width: 28px;
  height: 28px;
  background: #ff7a1a;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.nav__logo-pic {
  height: 50px;
  width: auto;
}

.nav__logo-text {
  font-weight: 700;
  font-size: 1rem;
}

/* links */
.nav__links {
  display: flex;
  gap: 28px;
}

.nav__links a {
  text-decoration: none;
  color: #8f98a8;
  font-size: 0.95rem;
  transition: color 0.2s ease;
}

.nav__links a:hover {
  color: #ffffff;
}

/* button */
.nav__button {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  color: #fafafa;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #fafafa;
  background: #ff7a1a;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
}

.nav__button:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}
