.nav {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: rgba(6, 8, 12, 0.85);
  backdrop-filter: blur(10px);

  transition:
    border-color 0.25s ease,
    background 0.25s ease;
}

/* default = no border */
.nav {
  border-bottom: 1px solid transparent;
}

/* when scrolling */
.nav--scrolled {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

/* container */
.nav__container {
  width: min(1200px, calc(100% - 48px));
  margin: 0 auto;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo-box {
  width: 28px;
  height: 28px;
  background: #ff7a1a;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.nav__logo-pic {
  height: 50px;
  width: auto;
}

.nav__logo-text {
  font-weight: 700;
  font-size: 1rem;
}

/* links */
.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.nav__links a {
  text-decoration: none;
  color: #8f98a8;
  position: relative;
  display: block;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.nav__links a:hover::before {
  width: 100%;
}

a:hover {
  color: #ffffff;
}

/* hamburger */
.nav__hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.nav__hamburger span {
  width: 24px;
  height: 2px;
  background: #8f98a8;
  transition: 0.3s;
}

.nav__hamburger:hover span {
  background: #ffffff;
}

/* mobile menu */
.nav__links--open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: rgba(6, 8, 12, 0.95);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  padding: 20px;
  gap: 20px;
  z-index: 999;
}

.nav__links--open a {
  font-size: 1rem;
  padding: 10px 0;
}

/* From Uiverse.io by adamgiebl */

@media (max-width: 768px) {
  .nav__links {
    display: none;
  }

  .nav__button--desktop {
    display: none;
  }

  .nav__hamburger {
    display: flex;
  }

  .nav__container {
    position: relative;
    width: min(100% - 32px, 1200px);
  }
}
.nav__button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: #ff7a1a;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-weight: 800;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav__button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(255, 122, 26, 0.3);
}
